.content_section {
  z-index: 0;
  box-sizing: border-box;
  width: 1100px;
  min-height: 100px;
  margin: auto;
  font-size: 18px;
  background-color: #fff;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 15px 33px;
  color: black;
  font-weight: 400;
  line-height: 21.13px;
  text-underline-offset: 5px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  display: block;
  font-style: normal;
  line-height: 24px;
  text-underline-offset: 5px;
}

.header__address {
  justify-self: end;
  padding: 5px 40px 2px;
}

.cover {
  position: relative;
  min-height: 100px;
}

.img-cover {
  position: absolute;
  inset: 0;
  z-index: -2;
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cover_title {
  display: flex;
  flex-direction: column;
  padding: 165px 50px 135px;
  gap: 20px;
  z-index: 1;
  color: #fff;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.aligned-text {
  text-align: left;
  line-height: 115%;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing-extended {
  letter-spacing: 0;
}

.aligned-text_center {
  text-align: center;
  line-height: 100%;
}

.aligned-text_right {
  text-align: right;
  line-height: 100%;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 0 50px 51px 78px;
  z-index: 1;
}

.cover__description-text {
  z-index: 1;
  color: #fff;
  word-spacing: 18px;
}

.bet-button {
  border-color: #fff;
  color: white;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  line-height: 25.83px;
  padding: 12px 32px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 179px 24px 146px;
}

.lots__heading {
  margin-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 46.96px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 27px;
}

.lots__card-list-item {
  flex-grow: 1;
  min-height: 563px;
  list-style: none;
  width: 334px;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 51px 40px 48px;
  background-position: center;
  background-size: cover;
}

.card__title {
  z-index: 1;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  line-height: 23.48px;
  text-underline-offset: 5px;
}

.about {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 1100px;
  padding: 35px 24px 180px;
}

.about__logo {
  position: relative;
  margin-left: 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-left: 10px;
}

.about__title {
  margin-top: 100px;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 46.96px;
}

.about__text {
  display: flex;
  flex-direction: column;
  word-spacing: 0.1px;
  gap: 24px;
  margin-top: 100px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px 50px 88px;
}

.footer__address {
  justify-self: left;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
  list-style: none;
}
